# Node dependencies
node_modules/

# Environment variables
.env
.env.*.local

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# MongoDB dumps or seed backups
dump/
